body {
  font-family: "Dosis", sans-serif;
}
h1 {
  text-align: center;
  color: #070d59;
}
h2,
h3,
h4 {
  color: white;
}
footer {
  text-align: end;
  color: #070d59;
}

.container {
  max-width: 700px;
  background-image: url(https://i.imgur.com/mapc78J.png);
  align-items: center;
  border-radius: 20px;
}
.row {
  margin-top: 10px;
  align-items: center;
}

.search-engine {
  padding: 10px 15px 0 15px;
}
.search-col {
  display: block;
  margin: 0 auto;
}

input[type="search"],
input[type="submit"] {
  margin-top: 10px;
  background: lightblue;
}

input[type="submit"] {
  color: #070d59;
  border: none;
}

.currently {
  text-align: center;
}
.currently-date,
.currently {
  margin: 10px 15px;
}
h3,
.city {
  text-align: center;
}
#currently-city {
  font-weight: bold;
}

.container-forecast {
  margin: 10px 0;
  width: auto;
  text-align: center;
  align-items: center;
}

.fa-wind,
.fa-water {
  font-size: 30px;
  color: #070d59;
}

.prec {
  position: relative;
  top: -16px;
  text-align: center;
}

ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.inline {
  display: inline-block;
}
#temp-change {
  padding: 5px;
  margin-top: 10px;
  font-size: 65px;
}

#weather {
  position: relative;
  margin-top: 0px;
  top: -17px;
  text-transform: capitalize;
  font-size: 25px;
  color: white;
}
#img-today {
  position: relative;
  top: -16px;
  display: block;
  margin: 0 auto;
}
#units {
  position: relative;
  font-size: 25px;
  top: -30px;
}

.active {
  color: white;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: white;
}
